{% extends 'Home/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Formular Salvat cu Succes</h1>

    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-header">
            <h4>Detalii Formular</h4>
        </div>
        <div class="card-body">
            
            <p><strong>Nume animal:</strong> {{ petrecord.pet_name }}</p>
            <p><strong>Specie:</strong> {{ petrecord.pet_species }}</p>
            <p><strong>Rasă:</strong> {{ petrecord.pet_breed }}</p>
            <p><strong>Greutate:</strong> {{ petrecord.pet_weight }} kg</p>
            <p><strong>Culoare:</strong> {{ petrecord.pet_color_and_markings }}</p>
            <p><strong>Gen:</strong> {{ petrecord.get_pet_gender_display }}</p>
            <p><strong>Vaccinuri:</strong> {{ petrecord.pet_vaccine }}</p>
            <p><strong>Status reproductiv:</strong> {{ petrecord.get_pet_reproductive_status_display }}</p>
            <p><strong>Boli:</strong> {{ petrecord.pet_disease }}</p>
            <p><strong>Tratamente:</strong> {{ petrecord.pet_treatments }}</p>
            <p><strong>Medicație:</strong> {{ petrecord.pet_medication }}</p>
            
        </div>
    </div>

    <!-- <div class="mt-5">
        <h2>Toate Dosarele Medicale</h2>
        <ul>
            {% for record in pet_records %}
                <li><strong>{{ record.pet_name }}</strong> - {{ record.pet_species }} - {{ record.pet_breed }} </li>
            {% empty %}
                <li>Nu există dosare medicale salvate.</li>
            {% endfor %}
        </ul>
    </div> -->

    <div class="mt-3">
        <a href="{% url 'pet_record_list' %}" class="btn btn-primary">Înapoi</a>
        <a href="{% url 'modifica' petrecord.pk %}" class=" btn btn-primary">Modifica</a>
        <a href="{% url 'delete' petrecord.pk %}" class="btn btn-danger">Șterge</a>
    </div>
    
</div>
{% endblock %}
