{% extends "Home/base.html" %}
{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        {{ messages|default:"" }}
        Ți-am trimis un email cu instrucțiuni pentru a-ți reseta parola, dacă există un cont asociat cu adresa de email pe care ai introdus-o.
        Ar trebui să îl primești în scurt timp. Dacă nu primești un email, te rugăm să verifici dacă ai introdus corect adresa cu care te-ai înregistrat și să consulți folderul de spam.
    </div>
    <a href="{% url 'user_login' %}" class="btn btn-primary">Înapoi la autentificare</a>
</div>
{% endblock %}