{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <section>
            <div class="login-box">
                    {{ messages|default:"" }}
                    Ți-am trimis un email cu instrucțiuni pentru a-ți reseta parola, dacă există un cont asociat cu adresa de email pe care ai introdus-o.
                    Ar trebui să îl primești în scurt timp. Dacă nu primești un email, te rugăm să verifici dacă ai introdus corect adresa cu care te-ai înregistrat și să consulți folderul de spam.
                
                <a href="{% url 'user_login' %}" class="btn btn-primary">Înapoi la autentificare</a>
            </div>
        </section>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>
