{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resetare Parolă</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <section class="reset-password-page">
            <div class="login-box reset-password-box">
                <h2>Ai uitat parola?</h2>
                
                <!-- Afișare erori -->
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <!-- Formular -->
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" name="email" required id="id_email" placeholder="">
                        <label>Email</label>
                    </div>
                    <button type="submit">Trimite</button>
                </form>

                <!-- Linkuri -->
                <div class="content">
                    <a href="{% url 'signin_user' %}">Creează un cont nou</a>
                    <a href="{% url 'user_login' %}">Autentificare</a>
                </div>
            </div>
        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
